body {
  background-color: var(--color-brand-white);
  background-image: url("../assets/bg-main-desktop.png");
  background-size: contain;
  background-repeat: repeat;
  gap: 5rem;
}

main,
header,
footer {
  width: 92vw;
  max-width: 120rem;
}

nav {
  margin-block-start: var(--nav-margin-top);
}


main {
  gap: 6rem;
}

@media screen and (min-device-width: 551px) and (max-device-width: 950px) {
  body {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-image: url("../assets/bg-main-tablet.png");
    padding-inline: 2.5rem;
  }
  header,
  main,
  footer {
    width: 100%;
  }

  #text {
    margin-bottom: calc(var(--text-gap));
  }
  footer {
    flex-flow: column;
    align-items: flex-start;
  }
  .footer__info {
    flex-flow: column;
    gap: 2rem;
  }
}

@media (max-width: 550px) {
  body {
    display: block;
    gap: 2rem;
  }
  #text {
    margin-block-end: var(--text-margin-block-mobile);
  }
  header,
  main,
  footer {
    width: 90vw;
  }

  footer {
    flex-flow: column;
    align-items: flex-start;
  }

  header,
  footer {
    margin-inline: var(--text-margin-inline-mobile);
  }
  body {
    background-image: url("../assets/bg-main-mobile.png");
  }
  #cards {
    margin-block-end: var(--cards-margin-block-end-mobile);
    padding-block-start: var(--cards-margin-block-start-mobile);
  }
  .footer__info {
    flex-flow: column;
  }
}
